*{
	margin: 0;
	padding: 0;
}
body{
	background: url(bgg.jfif) no-repeat center fixed;
	background-size: cover;
    font-weight: bolder;
	font-family: sans-serif;
}
a{
	padding: 10px;
	color: red;
}
a button{
	color: red;
}
.card-body h3,h2,h1{
	font-weight: bolder;
	text-decoration: underline;
}